body{
  margin:0px;
  padding:0px;
  background-color:#4E8ADE;
}
.signin{
  background-color: #F6F6F6;
  width: 30%;
  height: 30%;
  position: fixed;
  left:35%;
  top:35%;
  text-align: center;
  border-radius: 35px;
}
input{
  padding: 10px;
  border: 1px inset gray;
  border-radius: 5px;
  text-align: center;
}
h3{
  font-weight: bold;
  margin-bottom: 35%;
  font-size: 25px;
  border-bottom: 2px groove #4E8ADE;
  padding-bottom: 10px;
  color: #4E8ADE;
}
